<template>
    <v-container fluid>
        <v-row >
            <v-col class="text-center">
                <v-btn class="rounded-xl btn" to="/package">Sign Up</v-btn>
                <v-btn class="ml-10 rounded-xl btn" to="/login">Login</v-btn>
            </v-col>
        </v-row>
    </v-container>
</template>