<script setup lang="ts">
import { useUserStore } from '@/stores/user'

// import eventBus from '@/views/Listener/event-bus';

// const openDrawer = () => {
//   eventBus.$emit('toggleDrawer', true);
// };
const useUser = useUserStore()
</script>
<template>
  <v-container fluid>
    <v-row>
      <v-col>
        <v-card class="rounded-xl" width="200" height="50">
          <v-avatar class="ma-2" size="35" rounded="8">
            <v-img src="https://cdn.vuetifyjs.com/images/cards/foster.jpg"></v-img>
          </v-avatar>
          {{ useUser.name }}
        </v-card>
      </v-col>
      <v-col>
        <v-btn class="mt-2 rounded-xl btn" to="/">Logout</v-btn>
      </v-col>
      <v-col>
        <!-- <v-btn class="mt-15 rounded-xl btn" @click.stop="openDrawer">></v-btn> -->
      </v-col>
    </v-row>
  </v-container>
</template>
@
