<script setup lang="ts">
import { mdiHomeCircle, mdiMagnify, mdiBookOpenVariantOutline } from '@mdi/js'
</script>
<template>

  <!-- หน้าของ Listener -->
  <v-container fluid>
    <div class="Navigation">
      <div class="start">
        <v-btn class="ml-8 rounded-xl btn" :prepend-icon="mdiHomeCircle" to="/listener">
          Home
        </v-btn>
        <!-- ปุ่ม Search -->
        <v-btn class="ml-8 rounded-xl btn" :prepend-icon="mdiMagnify" to="/listener/search">
          Search
        </v-btn>
        <!-- ปุ่ม Library -->
        <v-btn class="ml-8 rounded-xl btn" :prepend-icon="mdiBookOpenVariantOutline" to="/listener/library">
          Library
        </v-btn>
      </div>
    </div>
  </v-container>
</template>
<style>
.btn {
  border-width: 3px;
  color: white;
  border-color: white;
}
</style>
