<script setup lang="ts">
import { mdiBookOpenVariantOutline, mdiChartBox } from '@mdi/js'
</script>
<template>

  <!-- หน้าของ Listener -->
  <v-container fluid>
    <div class="Navigation">
      <div class="start">
        <v-btn class="ml-8 rounded-xl btn" :prepend-icon="mdiChartBox" to="/artist">
          Dashboard
        </v-btn>
        <!-- ปุ่ม Search -->
        <v-btn class="ml-8 rounded-xl btn" :prepend-icon="mdiBookOpenVariantOutline" to="/artist/song_management">
          Song Management
        </v-btn>
      </div>
    </div>
  </v-container>
</template>
<style>
.btn {
  border-width: 3px;
  color: white;
  border-color: white;
}
</style>
