<script setup lang="ts">
import { ref } from 'vue';
import { mdiHomeCircle, mdiMagnify, mdiBookOpenVariantOutline } from '@mdi/js'
const dialog = ref(false);
</script>
<template>

  <!-- หน้าของ Unknow -->
  <v-container fluid>
    <!-- ปุ่ม Home -->
    <div class="Navigation">
      <div class="start">
        <v-btn class="ml-8 rounded-xl btn" :prepend-icon="mdiHomeCircle" to="/">
          Home
        </v-btn>
        <!-- ปุ่ม Search -->
        <v-btn class="ml-8 rounded-xl btn" :prepend-icon="mdiMagnify" to="/unknow/search">
          Search
        </v-btn>
        <!-- ปุ่ม Library -->
        <v-btn class="ml-8 rounded-xl btn" :prepend-icon="mdiBookOpenVariantOutline" @click="dialog = true">
          Library
        </v-btn>
        <!-- Dialog ของ Library -->
        <v-dialog v-model="dialog" width="auto">
          <v-card class="dialog"
          max-width="400"
            text="Listen ad-free to your favorite songs and artists and Join for the Best Exprience"
            title="Spotifuu plan">
            <template v-slot:actions>
              <v-btn class="btn2" text="Get started" to="/package"></v-btn>
              <v-btn class="btn" text="Later" @click="dialog = false"></v-btn>
            </template>
          </v-card>
        </v-dialog>
      </div>
      <div class="end">
        <!-- ปุ่มสมัคร -->
        <v-btn class="rounded-xl btn" to="/package">Sign Up</v-btn>
        <!-- ปุ่มล็อกอิน -->
        <v-btn class="ml-10 rounded-xl btn" to="/login">Login</v-btn>
      </div>
    </div>
  </v-container>
</template>
<style>
.btn {
  border-width: 3px;
  color: white;
  border-color: white;
}

.btn2 {
  color: black;
  background-color: white;
}

.Navigation {
  justify-content: space-between;
  display: flex;
}

.dialog {
  background-color: dimgray;
  color: white;
}
</style>
