<script setup lang="ts">
import { useUserStore } from "@/stores/user";
import type User from "@/types/user";
import { onMounted, ref } from "vue";
const useUser = useUserStore();
onMounted(async () => {
  const artists = await useUser.getArtists();
  artist.value = artists.slice(0, 3);
})
const artist = ref<User[]>([]);
const artists = ref([
  { name: 'Phossil', image: "https://yt3.googleusercontent.com/I5Exw66ubmTTi01eU7XoiC1_JbwrdDc-ahm21p-iu7okA8Dlo1SYbw_JCfS1-7yddpxhpkQwTQ=s176-c-k-c0x00ffffff-no-rj" },
  { name: 'Newjeans', image: "https://people.com/thmb/uE5m3O1HiWsQxfB4yhJRY0B-IUI=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():focal(602x285:604x287):format(webp)/newjeans-111023-1-c7ed1acdd72e4f2eb527cc38144aa2d4.jpg" },
  { name: 'Skrillex', image: "https://scontent.fbkk12-1.fna.fbcdn.net/v/t39.30808-6/331912284_5591307597662772_2439177311494439176_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=-z9yaDRghMcAX9ldgfS&_nc_ht=scontent.fbkk12-1.fna&oh=00_AfDiU2tvf51J9qTVhm-enEar0EMbYCd_uGSOr4seAKHuUw&oe=65ED70B7" },
])
</script>

<template>
  <v-container fluid>
    <h4 class="white-font">Best Artist</h4>
    <v-row class="mt-1">
      <v-col v-for="(item, index) in artists" :key="index" cols="12" sm="6" md="4">
        <v-card class="mx-auto rounded-lg black-box" width="155px" height="155px" link>
          <v-img :src="item.image" class="align-end" alt="Category Image" cover>
            <v-card-title class="text-white">{{ item.name }}</v-card-title>
          </v-img>
        </v-card>
      </v-col>
    </v-row>

  </v-container>
</template>

<style scoped>
.white-font {
  color: white;
}

.black-box {
  background-color: black;
  color: white;
}
</style>