<script setup lang="ts">
import NavigationUnk from '../headers/NavigationUnk.vue';
import LoginSignupHead from '../headers/Login&SignupHead.vue';
</script>
<template>
    <v-app-bar class="gradient-grey" name="app-bar">
        <NavigationUnk />
    </v-app-bar>
</template>
<style scoped>
.gradient-grey {
    background: linear-gradient(0deg, #181818 1%, #727272 100%);
}
</style>