<script setup lang="ts">
import { ref } from "vue";

const album = ref([
  { name: 'NJWMX', image: 'https://f.ptcdn.info/691/082/000/s5wod12d9znWPpX9EtNwq-o.jpg' },
  { name: 'Cosmic', image: 'https://i.scdn.co/image/ab67616d0000b273f9f2d43ff44bdfbe8c556f8d' },
  { name: 'Quest for fire', image: 'https://upload.wikimedia.org/wikipedia/en/a/ae/Skrillex_-_Quest_for_Fire.png' },
])
</script>

<template>
  <v-container fluid>
    <h4 class="text-white">Best Album</h4>
    <v-row class="mt-2">
      <v-col v-for="(item, index) in album" :key="index" cols="12" sm="6" md="4">
        <v-card class="mx-auto rounded-lg black-box" width="155px" height="155px" link>
          <v-img :src="item.image" class="align-end" alt="Category Image" cover>
            <v-card-title class="text-white">{{ item.name }}</v-card-title>
          </v-img>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>

.black-box {
  background-color: black;
  color: white;
}
</style>