<script setup lang="ts">
import { mdiMagnify } from '@mdi/js'
</script>

<template>
  <v-container fluid>
    <v-toolbar dense floating class="backGa">
      <v-btn class="ml-5" :icon="mdiMagnify" />
      <v-text-field prepend-icon="mdi-magnify" hide-details single-line></v-text-field>

      <v-btn icon>
        <v-icon>mdi-crosshairs-gps</v-icon>
      </v-btn>

      <v-btn icon>
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
    </v-toolbar>
    <!-- <v-card class=" backGa" height="70px">
      <v-btn class="ml-5" :icon="mdiMagnify" />
      <v-text-field class="" variant="outlined" style="width: 300px;"></v-text-field>
    </v-card> -->
  </v-container>
</template>

<style scoped>
.backGa {
  background-color: #838282;
  /* ตั้งค่าสีพื้นหลัง */
}
</style>