<script setup lang="ts">
import NavigationArt from '../headers/NavigationArt.vue';
import LoginedHead from '@/components/headers/LoginedHead.vue';
</script>
<template>
    <v-app-bar class="gradient-blue" name="app-bar">
        <NavigationArt />
        <LoginedHead />
    </v-app-bar>
</template>
<style scoped>
.gradient-blue {
    background: linear-gradient(0deg, #181818 1%, #ffde59    100%);
}
</style>