<script setup lang="ts">
import { ref } from "vue";
const genres = ref([
  { title: 'Plays', images: 'https://i.pinimg.com/564x/95/0f/56/950f56160bdac1773a9b0b7999fd343b.jpg'}, 
  
]);

</script>
<template>
  <v-container fluid>
    <v-row>
      <v-col v-for="(item, index) in genres" :key="index" cols="12" sm="6" md="4">
        <v-card 
        class="mx-auto rounded-lg cat" 
        width="230px" 
        height="100px" 
        :title="item.title" 
        :image="item.images"
        link
        >
        </v-card>  
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.cat {
  background-color: black;
  color: white;
}
</style>