<script setup lang="ts">
import { useMusicStore } from '@/stores/musicStore';
import type Music from '@/types/music';
import { onMounted, ref } from 'vue';

const useMusics = useMusicStore();
const dialog = ref(false);
const top10ListenedToday = ref<Music[]>([]);

// onMounted(async () => {
//   try {
//     const musics = await useMusics.getTop10Counts();
//     top10ListenedToday.value = musics;
//   } catch (error) {
//     console.error(error);
//   }
// });

interface YourItemType {
    name: string;
    time: string;
    image: string;
}

const songs = ref<YourItemType[]>([
    { name: 'name1', time: '3:20' , image: 'https://f.ptcdn.info/691/082/000/s5wod12d9znWPpX9EtNwq-o.jpg'},
    { name: 'name1', time: '3:20' , image: 'https://f.ptcdn.info/691/082/000/s5wod12d9znWPpX9EtNwq-o.jpg'},
    { name: 'name1', time: '3:20' , image: 'https://f.ptcdn.info/691/082/000/s5wod12d9znWPpX9EtNwq-o.jpg'},
    { name: 'name1', time: '3:20' , image: 'https://f.ptcdn.info/691/082/000/s5wod12d9znWPpX9EtNwq-o.jpg'},
])

</script>

<template>
    <v-container fluid>
        <v-card class="overflow-y-auto rounded-xl height" theme="dark">
            <v-card-title>Songs</v-card-title>
            <v-card-text>
                <v-table>
                    <thead>
                        <tr>
                            <!-- <th class="text-left">
                                Picture
                            </th> -->
                            <th class="text-left">
                                Name
                            </th>
                            <th class="text-left">
                                Time
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in songs" :key="item.name">
                            <!-- <td>{{ item.image }}</td> -->
                            <td>{{ item.name }}</td>
                            <td>{{ item.time }}</td>
                        </tr>
                    </tbody>
                </v-table>
            </v-card-text>
        </v-card>        
        <div class="mt-5">
            <v-btn class="rounded-xl btn" to="/addsong">
                Add
            </v-btn>
        </div>
    </v-container>
</template>
<style scoped>
.height {
    height: 530px;
}

.btn {
    border: #ffde59;
    color: white;
    background-color: #ffde59;
}
</style>]