<script setup lang="ts">
import axios from 'axios'
</script>
<template>
  <v-layout>
    <v-container class="backG" fluid>
      <main>
        <v-row>
          <v-col>
            <v-card
              class="mx-auto rounded-lg black-box"
              width="400px"
              height="400px"
              title="Add picture"
              link
            >
            </v-card>
          </v-col>
          <v-col class="mr-15 mt-15">
            <v-text-field variant="outlined" label="Song title" class="txtfield"></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <!-- เพิ่มไฟล์เพลง -->
          <v-card class="black-box">
            <v-card-title>Upload</v-card-title>
            <v-card-text>
              <input type="file" ref="fileInput" />
            </v-card-text>
          </v-card>
        </v-row>
        <v-row class="mt-10">
          <v-spacer></v-spacer>
          <v-btn to="/artist/song_management" class="mr-10 rounded-xl btn2"> Cancel </v-btn>
          <v-btn to="/artist/song_management" class="mr-5 rounded-xl btn"> Save </v-btn>
        </v-row>
      </main>
    </v-container>
  </v-layout>
</template>
<style scoped>
.txtfield {
  border-color: white;
  color: white;
}

.backG {
  height: 695px;
}

.black-box {
  background-color: black;
  color: white;
}

.btn {
  border: #ffde59;
  color: white;
  background-color: #ffde59;
}

.btn2 {
  border-width: 3px;
  border-color: white;
}
</style>
