<script setup lang="ts">
import ArtistGraph from '@/components/Artist/ArtistGraph.vue';
import ArtistLogo from '@/components/Artist/ArtistLogo.vue';
import ArtistPlays from '@/components/Artist/ArtistPlays.vue';


</script>

<template>
    <v-layout>
        <v-container class="backG" fluid>
            <main>
                <v-container fluid>
                    <v-row>
                        <!-- แถวบน -->
                        <v-row no-gutters>
                            <v-col>
                                <!-- Logo -->
                                <ArtistLogo />
                            </v-col>
                            <v-col>
                                <!-- Plays -->
                                <ArtistPlays />
                            </v-col>
                        </v-row>
                        <!-- แถวล่าง -->
                        <v-row no-gutters>
                            <v-col>
                                <!-- Graph -->
                                <ArtistGraph />
                            </v-col>
                        </v-row>
                    </v-row>

                </v-container>
            </main>
        </v-container>
    </v-layout>
</template>

<style scoped>
.custom-background {
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    /* ตั้งค่าสีพื้นหลัง */
}

.v-card {
    backdrop-filter: blur(10px);
    /* ตั้งค่าการเบลอ */
    background-color: rgba(255, 255, 255, 0.5);

}

.backG {
    background-color: #181818;
    height: 650px;
    /* ตั้งค่าสีพื้นหลัง */
}

</style>