<script setup lang="ts">
import ArtistSongs from '@/components/Artist/ArtistSongs.vue';

</script>

<template>
    <v-layout>
        <v-container class="backG" fluid>
            <main>
                <ArtistSongs />
            </main>
        </v-container>
    </v-layout>
</template>

<style scoped>
.custom-background {
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    /* ตั้งค่าสีพื้นหลัง */
}

.v-card {
    backdrop-filter: blur(10px);
    /* ตั้งค่าการเบลอ */
    background-color: rgba(255, 255, 255, 0.5);

}

.backG {
    background-color: #181818;
    /* ตั้งค่าสีพื้นหลัง */
}
</style>