<script setup lang="ts">
import { useGenreStore } from "@/stores/genre";
import { onMounted, ref } from "vue";
const useGenres = useGenreStore();
const genres = ref([
  { title: 'Pop', images: 'https://i.pinimg.com/564x/95/0f/56/950f56160bdac1773a9b0b7999fd343b.jpg'}, 
  { title: 'Rock', images: 'https://i.pinimg.com/736x/4b/c8/2d/4bc82d396aa5ff56e4f3459c1dec5979.jpg'},
  { title: 'Jazz', images: 'https://i.pinimg.com/564x/cb/ca/88/cbca886cf0981efca39329942c2480f1.jpg'},
  { title: 'T-pop', images: 'https://mintmagth.s3.ap-southeast-1.amazonaws.com/photos/shares/Mint%20Story/2023/DEC%202023/BUS%20Location/657160fd76d07.png'},
  { title: 'HipHop', images: 'https://i.pinimg.com/564x/a5/d9/93/a5d993a46afc4d51f10d237f3fa76f0c.jpg'},
  { title: 'K-pop', images: 'https://i.pinimg.com/564x/1f/33/10/1f3310029579d03532e9e2b6e82eb627.jpg'},
  { title: 'R&B', images: 'https://i.pinimg.com/736x/d3/6b/4a/d36b4a3cebdf856e1c6dad090a105a66.jpg'},
  { title: 'Latin-pop', images: 'https://i.pinimg.com/564x/2f/d9/b0/2fd9b0c0051091948c35172f6cfe88e4.jpg'},
  { title: 'EDM', images: 'https://i.pinimg.com/564x/63/39/0b/63390b819da94a69645a6bae73260bb1.jpg'},
]);
// onMounted(async () => {
//   const genres = await useGenres.getGenres();
//   genres.value = genres.slice(0,3);
// })
</script>
<template>
  <v-container fluid>
    <v-row>
      <v-col v-for="(item, index) in genres" :key="index" cols="12" sm="6" md="4">
        <v-card 
        class="mx-auto rounded-lg cat" 
        width="230px" 
        height="100px" 
        :title="item.title" 
        :image="item.images"
        link
        >
        </v-card>  
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.cat {
  background-color: black;
  color: white;
}
</style>