<script setup lang="ts">
import router from '@/router';
import { useMusicStore } from '@/stores/musicStore';
import type Music from '@/types/music';
import { ref, onMounted } from 'vue';
const useMusics = useMusicStore();
const dialog = ref(false);
const top10ListenedToday = ref<Music[]>([]);

onMounted(async () => {
  try {
    const musics = await useMusics.getTop10Counts();
    top10ListenedToday.value = musics;
  } catch (error) {
    console.error(error);
  }
});
const playSong = (name: string) => {
  // const music = await useMusics.getMusicByName(name); // Wait for the promise to resolve
  // console.log(music);
  // console.log(name);
  router.replace({ 
      path: '/listener',
      query: {
       name : name
      }
    });
};
</script>

<template>
  <v-container fluid>
    <v-card class="overflow-y-auto rounded-xl height" theme="dark">
      <v-card-title>Top 10 Listened Today</v-card-title>
      <v-card-text>
        <v-row>
          <v-col v-for="(item, index) in top10ListenedToday" :key="index">
            <v-card width="250px" link @click="playSong(item.musicName)">
              <v-card-text>
              {{index+1}} {{item.musicImage}} {{ item.musicName }} {{ item.numPlay }}
              </v-card-text>
            </v-card>
            <!-- <v-list>
              <v-list-item v-for="(item, index) in top10ListenedToday" :key="index">
                <v-list-item-title>{{ item.id }}. {{ item.name }}</v-list-item-title>
                <v-list-item-subtitle>{{ item.count }}</v-list-item-subtitle>
              </v-list-item>
            </v-list> -->
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-container>
</template>
<style scoped>
.height {
  height: 348px;
  ;
}
</style>]