<script setup lang="ts">
import NavigationLis from '../headers/NavigationLis.vue';
import LoginedHead from '@/components/headers/LoginedHead.vue';
</script>
<template>
    <v-app-bar class="gradient-blue" name="app-bar">
        <NavigationLis />
        <LoginedHead />
    </v-app-bar>
</template>
<style scoped>
.gradient-blue {
    background: linear-gradient(0deg, #181818 1%, #00abd5    100%);
}
</style>