<script setup lang="ts">
import { ref } from "vue";

const playlists = ref([
  { title: 'Add playlist', images: 'https://t4.ftcdn.net/jpg/00/70/16/29/360_F_70162903_5mFpUbO3ZfRyD4gslH8j2c5VxjGMKU9G.jpg' },
  { title: 'VIBE', images: 'https://i.pinimg.com/564x/2f/c9/83/2fc983dc27f30414efa1b37153092066.jpg' },
  { title: 'HV s fuk', images: 'https://i.pinimg.com/564x/e1/93/9c/e1939c12d27aedc04d3c30c402d78dd5.jpg' },
  { title: 'dreamin', images: 'https://i.pinimg.com/564x/32/d3/f0/32d3f009850523d1947e169ac394ade6.jpg' },
  { title: 'Darkside', images: 'https://i.pinimg.com/564x/49/38/c7/4938c793138fde7d519387ebd71beb0f.jpg' },
  { title: 'Welcome to heaven', images: 'https://i.pinimg.com/564x/d6/17/88/d6178829e2c05086efe3ae2e4c7bf50e.jpg' },
]);
</script>
<template>
  <v-container fluid>
    <v-row>
      <!-- ตั้งค่าวนลูปให้ตัวแปรใน genres แสดงทั้งหมด -->
      <v-col v-for="(item, index) in playlists" :key="index" cols="12" sm="8" md="3">
        <v-container>
        <v-card class="mx-auto rounded-lg black-box" width="200px" height="200px" link>
          <v-img :src="item.images" class="align-end" alt="Category Image" cover />
        </v-card>
        <div class="ml-15 mt-2 text-body-1 text-white">{{ item.title }}</div>
      </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped></style>]