<script setup lang="ts">
import router from '@/router';
import { onMounted, ref } from 'vue';
import { useRoute } from 'vue-router';
const drawer = ref(false);
const toggleDrawer = () => {
    drawer.value = !drawer.value;
};
const route = useRoute();
const musicName = route.query.name as string;
console.log(musicName);
onMounted(() => {
    if (musicName && musicName !== sessionStorage.getItem('previousMusicName')) {
        // Stop the previous audio, if any
        const previousAudio = document.querySelector('audio');
        if (previousAudio) {
            previousAudio.pause();
        }
        
        sessionStorage.setItem('previousMusicName', musicName);
        
        const audioSrc = `/src/assets/${musicName}.mp3`;
        const audio = new Audio(audioSrc);

        // Play the audio and open the navigation drawer when it ends
        audio.onended = () => {
            toggleDrawer();
        };

        // Ensure the play() method is called only after user interaction
        const playAudioWithInteraction = () => {
            audio.play();
            document.removeEventListener('click', playAudioWithInteraction);
        };
        document.addEventListener('click', playAudioWithInteraction);
    } else {
        // If there's no new music, just open the navigation drawer
        toggleDrawer();
    }
});

router.push({ path: '/listener' });

</script>

<template>
    <div>
        <v-btn class="mt-15 rounded-xl btn" @click.stop="toggleDrawer">></v-btn>
    </div>
    <v-navigation-drawer color="grey-darken-2" name="drawer" location="right" v-model="drawer" temporary>
        <div class="d-flex justify-center align-center h-100">
        <v-card style="text-align: center" :flat="flat == undefined || flat == false  ? false : true">
        <v-card-text>
            <v-btn outlined icon class="ma-2" :color="color" @click.native="playing ? pause() : play()" :disabled="!loaded">
                <v-icon v-if="!playing || paused">{{ playIcon }}</v-icon>
                <v-icon v-else>{{ pauseIcon }}</v-icon>
            </v-btn>
            <v-btn outlined icon class="ma-2" :color="color" @click.native="stop()" :disabled="!loaded">
                <v-icon>{{ stopIcon }}</v-icon>
            </v-btn>
            <v-btn outlined icon class="ma-2" :color="color" @click.native="mute()" :disabled="!loaded">
                <v-icon v-if="!isMuted">{{ volumeHighIcon }}</v-icon>
                <v-icon v-else>{{ volumeMuteIcon }}</v-icon>
            </v-btn>
            <v-btn outlined icon class="ma-2" :color="color" @click.native="loaded ? download() : reload()" v-if="!loaded">
                <v-icon>{{ refreshIcon }}</v-icon>
            </v-btn>
            <v-btn outlined icon class="ma-2" :color="color" @click.native="loaded ? download() : reload()" v-if="loaded && downloadable">
                <v-icon>{{ downloadIcon }}</v-icon>
            </v-btn>
            <v-slider v-model="playerVolume" :prepend-icon="volumeHighIcon" max="1" step="0.01" min="0"></v-slider>
            <v-progress-linear v-model="percentage" height="5" style="margin-top: 15px; margin-bottom: 15px;" @click.native="setPosition()" :disabled="!loaded"></v-progress-linear>
            <p>{{ currentTime }} / {{ duration }}</p>
        </v-card-text>
        <audio id="player" ref="player" v-on:ended="ended" v-on:canplay="canPlay" src="src\assets\titanium-170190.mp3"></audio>
    </v-card>
      </div>
    </v-navigation-drawer>
</template>