<script setup lang="ts">
import { useUserStore } from "@/stores/user";
import type User from "@/types/user";
import { onMounted, ref } from "vue";
const useUser = useUserStore();
onMounted(async () => {
  const artists = await useUser.getArtists();
  artist.value = artists.slice(0,3);
})
const artists = ref([
  { name: 'Phossil', image: "https://yt3.googleusercontent.com/I5Exw66ubmTTi01eU7XoiC1_JbwrdDc-ahm21p-iu7okA8Dlo1SYbw_JCfS1-7yddpxhpkQwTQ=s176-c-k-c0x00ffffff-no-rj" },
])
const artist = ref<User[]>([]);
</script>
<template>
    <v-container fluid>
    <h4 class="white-font">Results</h4>
    <v-row class="mt-2">
      <v-col v-for="(item, index) in artists" :key="index" cols="12" sm="2" md="1">
        <v-card class="mx-auto rounded-lg black-box" width="155px" height="155px" link>
          <v-img :src="item.image" class="align-end" alt="Category Image" cover>
            <v-card-title class="text-white">{{ item.name }}</v-card-title>
          </v-img>
        </v-card>
      </v-col>
    </v-row>
    <v-col cols="10" sm="4" md="4" ma-1>
    <h2 class="white-font">Artist</h2>
    <h1 class="white-font">Phossil</h1>
      </v-col>
    
  </v-container>
  </template>
  
  <style scoped>
  .white-font {
    color: white;
  }
  
  .black-box {
    background-color: black;
    color: white;
  }
  </style>