<script setup lang="ts"></script>
<template>
  <v-layout>
    <RouterView name="header"></RouterView>
    <RouterView name="player"></RouterView>
    <!-- class="mt-15" -->
    <v-main>
      <RouterView />
    </v-main>
  </v-layout>
</template>
