<script setup lang="ts">
import userService from '@/service/userService'
import { useMusicStore } from '@/stores/musicStore'
import { useUserStore } from '@/stores/user'
import { mdiAccount, mdiLock } from '@mdi/js'
import { ref } from 'vue'
import type { VForm } from 'vuetify/components'
const form = ref<InstanceType<typeof VForm> | null>(null)
const loginName = ref('')
const loginPassword = ref('')
const user = ref()
const valid = ref(true)
const usersStore = useUserStore()
const usersService = userService
const musicStore = useMusicStore()
async function checklogin() {
  const { valid } = await form.value!.validate()
  if (valid) {
    usersStore.loginUser(loginName.value, loginPassword.value)
  }
}

function login() :boolean {
  checklogin()
  if(usersStore.isLogin){
    return true;
    
  }else{
    return false;
  }
}
</script>

<template>
  <div id="app">
    <v-container class="custom-background mx-auto" fluid>
      <div>
          <v-card
            color="#454545"
            class="v-card custom-card blur-card mt-16 my-16 overflow-y-auto rounded-xl"
            width="600"
            height="750"
          >
          <div class="mx-16">
            <v-card-title class="srifa text-center text-h4 font-weight-bold mx-auto ma-4">
              <h1>Spotifuuu</h1>
            </v-card-title>
            <v-card-text class="my-16">
              <v-form class="sricow" ref="form" v-model="valid">
                <p>Username</p>
                <v-text-field
                  color="#FFFFFF"
                  class="mx-auto"
                  clearable
                 
                  v-model="loginName"
                  variant="outlined"
                  :rules="[(v) => !!v || '**Please Enter Username again!**']"
                  required
                ></v-text-field>
                <p>Password</p>
                <v-text-field
                  color="#FFFFFF"
                  class="mx-auto"
              
                  clearable
             
                  variant="outlined"
                  v-model="loginPassword"
                  type="password"
                  :rules="[
                    (v) => !!v || '**Please Enter Password again!**',
                    (v) =>
                      (v && v.length >= 8 && v.length <= 16) ||
                      '**Password must be between 8 and 16 characters!**'
                  ]"
                  required
                ></v-text-field>

                <v-row class="mt-16">
                  <v-col>
                    <v-btn
                      block=""
                      v-bind="props"
                      text="Login"
                      class="mx-auto mt-4 text"
                      width="100%"
                      height="5rem"
                      color="#14A3C7"
                      min-width="200"
                      variant="flat"
                      @click="login()"
                    >
                    </v-btn>
                  </v-col>
                </v-row>

                <v-dialog width="500">
                  <template v-slot:activator="{ props }">
                    <v-btn
                      block=""
                      v-bind="props"
                      text="Don't have any account?"
                      class="mx-auto text-decoration-underline mt-5"
                      width="70%"
                      color="#ffffff"
                      min-width="164"
                      variant="text"
                    >
                    </v-btn>
                  </template>

                  <template v-slot:default="{ isActive }">
                    <v-card class="sricow custom-background" title="need Spotifuuu Plan?">
                      <v-card-text class="sricow">
                        Listen ad-free to your favorite songs and artists and Join for the Best
                        Exprience
                      </v-card-text>

                      <v-card-actions>
                        <v-spacer></v-spacer>

                        <v-btn
                          color="#d71e61"
                          variant="tonal"
                          text="Close "
                          @click="isActive.value = false"
                        ></v-btn>

                        <v-btn
                          color="#1e7ed7"
                          variant="tonal"
                          to="/package"
                          text="Getstarted"
                          @click="isActive.value = false"
                        ></v-btn>
                      </v-card-actions>
                    </v-card>
                  </template>
                </v-dialog>
              </v-form>
            </v-card-text>
          </div>
          </v-card>
         </div>
    </v-container>
  </div>
</template>

<style>
.v-card-title {
  margin-bottom: 10px;
  text-align: center;
}

.sricow {
  color: #ffffff;
}

.v-card-text {
  margin-top: 10px;
}
.srifa {
  color: #ffffff;
}

.v-card {
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-background {
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5); /* ตั้งค่าสีพื้นหลัง */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://swall.teahub.io/photos/small/167-1679792_worship-powerpoint-templates-free-download-worship-powerpoint-background.jpg'); /* พื้นหลังของ v-card */
  background-size: cover;
  filter: blur(10px); /* ตั้งค่าการเบลอ */
  opacity: 0.8; /* ตั้งค่าความโปร่งใส */
  z-index: -1;
  
}
.custom-card {
  background-color: rgba(204, 204, 204, 0.7); /* สีเทาจางๆ ที่มีความโปร่งใส */
}

.v-card {
  backdrop-filter: blur(5px); /* ตั้งค่าการเบลอ */
  background-color: rgba(255, 255, 255, 0.7);
}

h1 {
  text-decoration: underline;
  margin : 16px 16px 16px 16px;

}

p {
  font-size: 20px;
  margin-bottom: 10px;
}

.text .v-btn__content{
  font-size: 30px;
}

</style>

