<script setup lang="ts">
import ListenerCat from '@/components/Listener/ListenerCat.vue';
import ListenerTopSongs from '@/components/Listener/ListenerTopSongs.vue';
import ListenerBestAlbum from '@/components/Listener/ListenerBestAlbum.vue';
import ListenerBestArtist from '@/components/Listener/ListenerBestArtist.vue';
import { useUserStore } from '@/stores/user';
import MusicPlayerNbtn from '@/components/Listener/MusicPlayerNbtn.vue';
const userStore = useUserStore();
</script>

<template>
  <v-layout>
    <v-container class="backG" fluid>
      <main>
        <v-container fluid>
          <v-row>
            <!-- แถวบน -->
            <v-row no-gutters>
              <v-col>
                <!-- Catagories -->
                <ListenerCat />
              </v-col>
              <v-col>
                <!-- Top Songs -->
                <ListenerTopSongs />
              </v-col>
            </v-row>
            <!-- แถวล่าง -->
            <v-row no-gutters>
              <v-col>
                <!-- BestArtist -->
                <ListenerBestArtist />
              </v-col>
              <v-col>
                <!-- BestAlbum -->
                <ListenerBestAlbum />
              </v-col>
            </v-row>
            <!-- แถวล่างๆ -->
          </v-row>
        </v-container>  
      </main>
    </v-container>
  </v-layout>
</template>

<style scoped>
.custom-background {
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  /* ตั้งค่าสีพื้นหลัง */
}

.custom-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://wallpapers.com/images/featured/ultra-hd-wazf67lzyh5q7k32.jpg');
  /* พื้นหลังของ v-card */
  background-size: cover;
  filter: blur(10px);
  /* ตั้งค่าการเบลอ */
  opacity: 0.8;
  /* ตั้งค่าความโปร่งใส */
  z-index: -1;
}

.v-card {
  backdrop-filter: blur(10px);
  /* ตั้งค่าการเบลอ */
  background-color: rgba(255, 255, 255, 0.5);

}

.backG {
  background-color: #181818;
  /* ตั้งค่าสีพื้นหลัง */
}
</style>