<script setup lang="ts">
import { ref } from "vue";
import { RouterView } from "vue-router";
import UnknowCat from "@/components/Unknown/UnknowCat.vue";
import UnknownBestAlbum from "@/components/Unknown/UnknownBestAlbum.vue";
import UnknownBestArtist from "@/components/Unknown/UnknownBestArtist.vue";
import UnknownTopSongs from "@/components/Unknown/UnknownTopSongs.vue";
import MainHeader from "@/components/headers/MainHeader.vue";
import LoginedHead from "@/components/headers/LoginedHead.vue"

import {
  mdiHomeCircle,
  mdiMagnify,

} from "@mdi/js";
</script>

<template>
  <v-app>
    <v-container fluid>
      <main>
        <v-row>
          <!-- แถวบน -->
          <v-row no-gutters>
            <v-col>
              <UnknowCat />
            </v-col>
            <v-col>
              <UnknownTopSongs />
            </v-col>
          </v-row>
          <!-- แถวล่าง -->
          <v-row no-gutters>
            <v-col>
              <UnknownBestArtist />
            </v-col>
            <v-col>
              <UnknownBestAlbum />
            </v-col>
          </v-row>
        </v-row>
      </main>
    </v-container>
  </v-app>
</template>