<script setup lang="ts">
import { useUserStore } from '@/stores/user';
import { ref } from 'vue';

const userStore = useUserStore();

</script>

<template>
  <v-container class="custom-background mx-auto" fluid  >
    
  <v-row>
    <v-col>
      <v-card color="#454545"  class="custom-background mx-auto mt-16 my-16 overflow-y-auto rounded-xl height"   height="400"  width="400" :color="color" :variant="variant">
        
        <v-card-item class="align-center ">
          
            <div class="text-overline mb-1">
              {{ variant }}
            </div>
            <div class="text-h6 mb-1 sri align-center">Listener</div>
            <div class="text-h6 mb-1 sri">139THB/Month</div>
            <div class="text-caption sri">
              Max sound quality Up to 24-bit, 192 kHz Formats availiable include HiRes FLAC, Dolby
              Atmos, Sony 360 Reality Audio, FLAC, Master Quality Authenicated (MQA)
            </div>
            <br />
            <div class="text-caption sri">Listening to 100M+ songs</div>
            <br />
            <div class="text-caption sri">AD-Free</div>
          
        </v-card-item>


        <v-card-actions>
          <v-btn variant="tonal" block=""  color="#1e95d7" class="mx-auto"  to="/register" @click="userStore.choosePlan('Listener')"> Choose this plan </v-btn>
        </v-card-actions>
      </v-card>
      </v-col>
    <v-col>
     
        <v-card color="#454545" class="custom-background mx-auto mt-16 my-16 overflow-y-auto rounded-xl height" height="400"  width="400" :color="color" :variant="variant">
          <v-card-item>
            
              <div class="text-overline mb-1">
                {{ variant }}
              </div>
              <div class="text-h6 mb-1 sri">Artist</div>
              <div class="text-h6 mb-1 sri">549THB/Month</div>
              <div class="text-caption sri">
                Unlimited Uploading Up to 24-bit, 192 kHz Formats availiable include HiRes FLAC,
                Dolby Atmos, Sony 360 Reality Audio, FLAC, Master Quality Authenicated (MQA)
              </div>
              <br />
              <div class="text-caption sri">Decorate your Artist account</div>
              <br />
              <div class="text-caption sri">View your daily Plays</div>
            
          </v-card-item>
          <v-card-actions align-end>
            
            <v-btn variant="tonal" block="" color="#dfac1d" class="mx-auto" to="/register" @click="userStore.choosePlan('Artist')"> Choose this plan </v-btn>
          
          </v-card-actions>
        </v-card>
      
    </v-col>
  </v-row>
</v-container>
</template>

<style>
.v-card-text {
  margin-top: 10px;
}
.sri {
  color: #ffffff;
}

.v-card {
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-background {
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5); /* ตั้งค่าสีพื้นหลัง */
}
.custom-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://wallpapers.com/images/featured/ultra-hd-wazf67lzyh5q7k32.jpg'); /* พื้นหลังของ v-card */
  background-size: cover;
  filter: blur(10px); /* ตั้งค่าการเบลอ */
  opacity: 0.8; /* ตั้งค่าความโปร่งใส */
  z-index: -1;
}
.v-card {
    backdrop-filter: blur(10px); /* ตั้งค่าการเบลอ */
    background-color: rgba(255, 255, 255, 0.5);
    
  }
</style>
