<script setup lang="ts">
import { useUserStore } from '@/stores/user';
import { useRoute } from 'vue-router';
const route = useRoute();
const name = route.query.username as string;
const password = route.query.password as string;
const email = route.query.email as string;
const displayName = route.query.displayName as string;
const userStore = useUserStore();
</script>
<template v-slot:default="{ isActive }">
<v-container class="custom-background mx-auto  rounded-xl" fluid >
    <v-card class="mx-auto mt-16 my-16  rounded-xl" height="470"  width="400" >
      <v-card-title class="sri">Pay to be Listener</v-card-title>
      <v-img class="bg-white align-center mx-auto" width="300" :aspect-ratio="1"
        src="https://upload.wikimedia.org/wikipedia/commons/d/d0/QR_code_for_mobile_English_Wikipedia.svg"
        cover></v-img>
      <v-card-text class="mx-auto align-center sri">
       139 THB / Month
      </v-card-text>
      <v-card-actions class="">
        <v-btn elevated color="#06c282" text="Accept" to="/success" @click="userStore.save(name,displayName,password,email)" ></v-btn>
        <v-btn elevated color="#c20606" text="Close" to="/" ></v-btn>
      </v-card-actions>
    </v-card>

</v-container>
  </template>
<style>
.custom-background {
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5); /* ตั้งค่าสีพื้นหลัง */
}
.custom-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://wallpapers.com/images/featured/ultra-hd-wazf67lzyh5q7k32.jpg'); /* พื้นหลังของ v-card */
  background-size: cover;
  filter: blur(10px); /* ตั้งค่าการเบลอ */
  opacity: 0.8; /* ตั้งค่าความโปร่งใส */
  z-index: -1;
}
.v-card {
    backdrop-filter: blur(10px); /* ตั้งค่าการเบลอ */
    background-color: rgba(46, 46, 46, 0.5);
    
  }
  .sri {
  color: #ffffff;
}


</style>
