<script setup lang="ts">
import router from '@/router';
import { useUserStore } from '@/stores/user';
import { ref } from 'vue';
const username = ref('');
const email = ref('');
const displayName = ref('');
const password = ref('');
const confirmPassword = ref('');
const validatePassword = () => {
  if (password.value !== confirmPassword.value) {
    alert('Passwords do not match!');
    password.value = '';
    confirmPassword.value = '';
    return;
  }
  
  // Passwords match, navigate to the payment page and send values
  router.push({ 
    path: '/payment', 
    query: {
      username: username.value,
      email: email.value,
      displayName: displayName.value,
      password: password.value
    }
  });
}
</script>
<template>
  <v-container class="mx-auto" fluid>

 
      <v-card color="#454545" class="custom-background mx-auto mt-16 my-16 overflow-y-auto rounded-xl" max-width="500" max-height="500">
        <v-card-title class="sri">Register Spotifuu</v-card-title>
        <v-container>
          <v-form class="sri" ref="form" v-model="valid">
          <v-text-field clearable class="sri" v-model="username" label="Username" variant="underlined" :rules="[(v) => !!v || '**Please Enter Username again!**']"></v-text-field>

          <v-text-field clearable class="sri" v-model="email"  label="Email" variant="underlined" :rules="[(v) => !!v || '**Please Enter Email again!**']"></v-text-field>

          <v-text-field clearable class="sri" v-model="displayName"  label="Display name" variant="underlined" :rules="[(v) => !!v || '**Please Enter Display name again!**']"></v-text-field>

          <v-text-field clearable class="sri" v-model="password"  label="Password" placeholder="Enter your password"
            variant="underlined" type="password" :rules="[
                   (v) => !!v || '**Please Enter Password again!**',
                   (v) => (v && v.length >= 8 && v.length <= 16) || '**Password must be between 8 and 16 characters!**']"
                   ></v-text-field>
          <v-text-field clearable class="sri"  v-model="confirmPassword" color="primary" label="Confirm Password"
            placeholder="Replace your password" variant="underlined" type="password" :rules="[(v) => !!v || '**Incorrect!**']"></v-text-field>
          </v-form>
        </v-container>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn block v-bind="props" color="#00FFFF" text="Sign IN" @click="validatePassword()"> </v-btn>
        </v-card-actions>
      </v-card>
  
  </v-container>
</template>
<style>
.custom-background {
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5); /* ตั้งค่าสีพื้นหลัง */
}
.sri{
  color: #ffffff;
}
.custom-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://wallpapers.com/images/featured/ultra-hd-wazf67lzyh5q7k32.jpg'); /* พื้นหลังของ v-card */
  background-size: cover;
  filter: blur(10px); /* ตั้งค่าการเบลอ */
  opacity: 0.8; /* ตั้งค่าความโปร่งใส */
  z-index: -1;
}
.v-card {
    backdrop-filter: blur(10px); /* ตั้งค่าการเบลอ */
    background-color: rgba(46, 46, 46, 0.5);
    
  }
</style>
