<script setup lang="ts">
</script>
<template v-slot:default="{ isActive }">
<v-container class="custom-background mx-auto" fluid  >
  
    <v-card class="mx-auto mt-16 my-16 overflow-y-auto rounded-xl" height="470"  width="400" title="Pay to be Listener">
      <v-card-text>
        Success Sign up, Let's play your favorite songs.
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="#06c282" text="Accept" to="/listener">Login</v-btn>
      </v-card-actions>
    </v-card>
</v-container>
  </template>
<style scoped>
.custom-background {
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5); /* ตั้งค่าสีพื้นหลัง */
}
.custom-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://wallpapers.com/images/featured/ultra-hd-wazf67lzyh5q7k32.jpg'); /* พื้นหลังของ v-card */
  background-size: cover;
  filter: blur(10px); /* ตั้งค่าการเบลอ */
  opacity: 0.8; /* ตั้งค่าความโปร่งใส */
  z-index: -1;
}
.v-card {
    backdrop-filter: blur(10px); /* ตั้งค่าการเบลอ */
    background-color: rgba(255, 255, 255, 0.5);
    
  }
</style>