<script setup lang="ts">
import UnknowCat from '@/components/Unknown/UnknowCat.vue';
import UnknownTopSongs from '@/components/Unknown/UnknownTopSongs.vue';
import UnknownBestAlbum from '@/components/Unknown/UnknownBestAlbum.vue';
import UnknownBestArtist from '@/components/Unknown/UnknownBestArtist.vue';
import LoginSignupHead from '@/components/headers/Login&SignupHead.vue';


</script>
<template>
  <v-layout class="backG">
    <v-container fluid>
      <main>
        <v-container fluid>
          <v-row>
            <!-- แถวบน -->
            <v-row no-gutters>
              <v-col>
                <!-- Catagories -->
                <UnknowCat />
              </v-col>
              <v-col>
                <!-- Top Songs -->
                <UnknownTopSongs />
              </v-col>
            </v-row>
            <!-- แถวล่าง -->
            <v-row no-gutters>
              <v-col>
                <!-- BestArtist -->
                <UnknownBestArtist />
              </v-col>
              <v-col>
                <!-- BestAlbum -->
                <UnknownBestAlbum />
              </v-col>
            </v-row>
          </v-row>
        </v-container>
      </main>
    </v-container>
  </v-layout>
</template>

<style scoped>
.backG {
  background-color: #181818; /* ตั้งค่าสีพื้นหลัง */
}
</style>