<script setup lang="ts">
import UnknowCat from '@/components/Unknown/UnknowCat.vue';
import UnkonwnSearchlist from '@/components/Unknown/UnkonwnSearchlist.vue';
</script>

<template>
  <v-layout class="backG">
    <v-container fluid>
      <main>
        <UnkonwnSearchlist/>
        <UnknowCat/>
      </main>
    </v-container>
  </v-layout>
</template>

<style scoped>
.backG {
  background-color: #181818; /* ตั้งค่าสีพื้นหลัง */
}
</style>