<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import MainLayout from './components/layout/MainLayout.vue';
import FullLayout from './components/layout/FullLayout.vue';
import PlayerLayout from './components/layout/PlayerLayout.vue';
</script>

<template>
  <div>
    <MainLayout v-if="$route.meta.layout === 'MainLayout'" class="backG"></MainLayout>
    <FullLayout v-else-if="$route.meta.layout === 'FullLayout'" class="backG"></FullLayout>
    <PlayerLayout v-else class="backG"></PlayerLayout>

  </div>
</template>

<style scoped>
.backG {
  background-color: #181818; /* ตั้งค่าสีพื้นหลัง */
}
</style>
