<script setup lang="ts">
import ListenerPlaylist from "@/components/Listener/ListenerPlaylist.vue";
</script>
<template>
  <v-layout class="backG">
    <v-container fluid>
      <main>
        <listener-playlist></listener-playlist>
      </main>
    </v-container>
  </v-layout>
</template>

<style scoped>
.backG {
  background-color: #181818; /* ตั้งค่าสีพื้นหลัง */
}
</style>