<script setup lang="ts">
import ListenerSearch from "@/components/Listener/ListenerSearch.vue";
import SearchListener from "@/components/Listener/SearchListener.vue";
</script>
<template>
  <v-layout class="backG">
    <v-container fluid>
      <main>
        <ListenerSearch/>
        <SearchListener/>
      </main>
    </v-container>
  </v-layout>
</template>

<style scoped>
.backG {
  background-color: #181818; /* ตั้งค่าสีพื้นหลัง */
}
</style>